blockquote {
  font-style: italic
}

.main-container{
  max-width: 80%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.html-widget {
    margin: auto;
}
.header-banner {
    min-width: 320px;
    overflow: hidden;
    padding: 170px 0 169px;
    position: relative;
}
.header-banner__title {
    margin: 0 auto;
    min-width: 320px;
    width: 1024px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.header-banner--opacity {
    background-color: #fff;
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.header-banner__cover {
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
video{
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    width: auto;
    z-index: -1;
}
.title {
  font-size: calc(3vw + 1rem)
}

.subtitle{
  color:#696969;
  width:50%;
  margin-left: auto; 
  margin-right: auto;
  line-height: 25px;
   font-size: calc(0.5vw + 1rem)
}
  
.blurb{
  line-height: 30px;
  font-size: 15px;
  text-align: left;
  color: #404040;
}
#footer {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: 91px;
}

#footer.band {

  background-color: #85BC73;
  padding: 30px 5%;

  color: #fff;

  font-weight: 300;
  font-size: 12px;

  line-height: 25px;
}

#footer .bandContent {
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 20px;
}

#footer .bandContent #copyright {
  flex-shrink: 5;
}

#footer .bandContent #logos {
  flex-shrink: 1;
}

#footer .bandContent .footerLogo {
  display: inline-block;
  height: 25px;
  width: 25px;

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;

  margin: 0 8px;
}

#footer .bandContent #logos .footerLogo:last-child {
  margin-right: 0px;
}

#footer .bandContent .footerLogo.twitter {
  background-image: url(../images/twitterLogo.svg);
}

#footer .bandContent .footerLogo.gitHub {
  background-image: url(../images/gitHubLogo2.svg);
}

#footer .bandContent .footerLogo.youtube {
  background-image: url(../images/youtubeLogo.svg);
}

#footer .bandContent .footerLogo.facebook {
  background-image: url(../images/facebookLogo.svg);
}

#footer .bandContent .footerLogo.slideshare {
  background-image: url(../images/slideshareLogo.svg);
}

#cityText {
  margin: 0px 70px 0px 70px;
}

.band.full {
  position: relative;
}

.band.full.first {
  height: 550px;
}

.band.full.second {
  height: 480px;

  overflow: hidden;
  border-bottom: 1px solid #f8f8f8;
}

.band.full.third {
  height: 520px;
}

.band.full.fourth {
  height: 520px;
  overflow: hidden;
}

.bandContent, .standardPadding .articleBandContent {
  margin: 0 auto;
  max-width: 1140px;
  z-index: 2;
}
.band .imageOne {
  position: absolute;
  left: 0px;
  bottom: -120px;
  width: 630px;
  height: auto;

  z-index: 5;
}

.band .imageTwo {
  position: absolute;
  top: 10%;
  right: 10px;
  width: 45%;
  height: auto;
}

.band .imageThree {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 500px;
  height: auto;

  z-index: 5;
}

.band .imageFour {
  position: absolute;
  width: auto;
  height: auto;
  right: 0px;
  bottom: 0px;
  z-index:1;
}
.gallerySection, .formatSection {
  margin-bottom: 2em;
}

.gallerySection .gallerySectionTitle, .formatSection .formatSectionTitle {
  font-size: 25px;
  font-weight: 300;
}

.formatSection .formatSectionTitle {
  margin-bottom: 10px;
}

.gallerySection .galleryIntro {
  margin-bottom: 10px;
}

.gallerySection .galleryItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallerySection .galleryItems .galleryItem {
  width: 24%;

  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

.gallerySection .galleryItems .galleryItem:hover {

}

.gallerySection .galleryItems .galleryItem .galleryItemLabel {
  display: block;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  padding: 10px 10px 5px 10px;
}

.gallerySection .galleryItems .galleryItem .galleryItemImage {
  width: 100%;
  height: auto;
}

.gallerySection .galleryItems .galleryItem .galleryItemDescription {
  font-size: 12px;
  padding: 0px 10px 10px 10px;
}

.centered-and-cropped { 
  object-fit: cover; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.break-container{
  width:100%;
  height:100px;
  overflow:hidden;
}
.break-image {
  object-fit: cover; 
  width:100%;
}
